<div class="main">
  <mat-card class="profile-card">
    <h2 mat-card-title class="title">👤 My Profile</h2>


    <div *ngIf="!isEdit" class="view-mode fade-in">
      <ng-container *ngIf="!errorMessage; else errorBlock">

        <mat-list>
          <mat-list-item><strong>Name:</strong> {{ profile.name }}</mat-list-item>
          <mat-list-item><strong>Username:</strong> {{ profile.userName }}</mat-list-item>
          <mat-list-item><strong>Email:</strong> {{ profile.email }}</mat-list-item>
        </mat-list>

        <div class="button-group">

          <div>
            <button mat-raised-button color="primary" (click)="isEditOn()" class="edit-btn">
              Edit
            </button>
          </div>
          <div>
            <button mat-raised-button color="primary" class="edit-btn" (click)="closeDialog()">Close</button>
          </div>
        </div>

      </ng-container>
    </div>

    <ng-template #errorBlock>
      <div class="message error">
        {{errorMessage}}
      </div>

      <div>
        <button mat-button color="primary" type="button" (click)="home()"> <mat-icon fontIcon="home"
            click></mat-icon>Back to home</button>
      </div>

    </ng-template>


    <form *ngIf="isEdit" (ngSubmit)="onSubmit()" class="edit-mode slide-in">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="profile.name" name="name" type="text" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="profile.userName" name="username" type="text" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="profile.email" name="email" type="email" required />
      </mat-form-field>

      <div *ngIf="errorMessage" class="message error">
        {{ errorMessage }}
      </div>

      <div *ngIf="successMessage" class="message success">
        {{ successMessage }}
      </div>

      <div class="button-group">
        <div>
          <button mat-raised-button color="primary" type="submit">💾 Save</button>
        </div>
        <div>
          <button mat-raised-button color="primary" type="button" (click)="isEditOff()">❌ Cancel</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>